.contact__img {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.contact {
    display: flex;
    gap: var(--spacing, 16px);
    padding: var(--spacing);
    border-bottom: 1px solid lightgray;
    width: 100%;
}

.contact__text {
    margin: 0;
}